/* FOOTER */
footer{
    z-index: 0;
    height:fit-content;
    position: relative;
    justify-content: center;
    background: var(--clr-bleu-f);
    color: var(--clr-bleu-xc);

    display:grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
}

footer .logo{
    height: 20vh;
    margin-top: 2em;
}


@media  (min-width:1025px){
    footer{
        grid-template-columns: repeat(auto,3fr);    
        padding: 3rem 10% 1rem;
        gap: 2em;
    }

    footer .logo{
        grid-column: 1;
        grid-row:1;
        margin-left: 0;
    }

    .footer-section > ul{
        text-align: left;
        text-indent: 2ch;
    }

    .rights{
    grid-column: span 4;
    font-size: .85em;
    }
}