/* FOOTER */
footer{
    z-index: 0;
    padding: 3rem 10% 1rem 10%;
    height:fit-content;
    position: relative;
    justify-content: center;
    background: var(--clr-bleu-f);
    color: var(--clr-bleu-xc);

    display:grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    gap:2em;
}

footer > ul{
    display: grid;
    gap: 2em;
    line-height: 1.5em;
}


footer .logo{
    height: 20vh;
}

footer ul li b{
    font-size: 1.15em;
    white-space: nowrap;
}
.rights{
    max-width: 80vw;
}

@media  (min-width:1025px){
/* footer */
    footer{
        grid-template-columns: repeat(auto,1fr);
    }

    footer .logo{
        grid-column: 1;
        grid-row:1;
        margin-left: 0;
    }

    footer>ul{
        grid-template-columns: repeat(3,1fr);
        text-align: left;
    }
    .rights{
    grid-column: span 4;
    font-size: .85em;
    }
}