/* TARIFS------------------------------------------------------------------------ */
.section-tarifs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarifs-specialite{
    margin: auto;
    padding-left: unset;
    min-width: 80%;max-width: 80%;
    border-collapse: collapse;
    border:1px solid var(--clr-bleu-f);
    margin-bottom: 3rem;
}

.tarifs-specialite thead{
    background-color: var(--clr-bleu-c);
    color: var(--clr-bleu-xc);
}

.tarifs-specialite tbody tr:nth-child(odd){
    background-color: var(--clr-bleu-xc);
}