/*---------------------------------- */
/* NAVIGATION----------------------- */
.nav{
    height: var(--hauteur-header);    
    width: 100vw;

    position:fixed;
    top:0; left:0;

    padding: 0;

    display:flex;

    background: rgba(231, 239, 255,.95);
    color:inherit;
    border-bottom: thin var(--clr-bleu-f) solid;

    
    transition : background-color .5s ease-in-out;

    z-index: 10;
}

.nav nav{
    display: none;
    width: 100%;
    position: absolute;
    top:0;
}

nav ul{
    text-transform: uppercase;
    letter-spacing: .075rem;
    font-weight: 600;
}
nav ul li{
    margin: auto;
    text-align: center;
}

/* Nav Accueil */
.nav_accueil{
    background: transparent;
    color:var(--clr-bleu-xc);
    border-bottom: none;
}

/*---------------------------------- */
/* Nav Mobile */
.nav input{
    display: none;
}

@media (max-width:1024px){
    .hamburger,
    .hamburger::before,
    .hamburger::after{
        position: absolute;
        left:0;
        content: '';
        width: 2.5rem;
        height: .3em;
        background: var(--clr-bleu-c);
        border-radius: 15px;
        transition: all .5s ease-in-out;
    }
    .hamburger{
        top:calc(0.45*var(--hauteur-header));
        left: .75rem;
    }
    .hamburger::before{
        transform: translateY(-.8rem);
    }
    .hamburger::after{
        transform: translateY(.8rem);
    }

    #nav-cb:checked ~ nav{
        display: block;
        padding-top: calc(1.5*var(--hauteur-header));
        z-index:-1;
        background: var(--clr-teal-c);
        color: var(--clr-bleu-f);
    }
    #nav-cb:checked + .hamburger{
        height: 0; width: 0;
    }
    #nav-cb:checked + .hamburger::before{
        transform: rotate(45deg);
    }
    #nav-cb:checked + .hamburger::after{
        transform: rotate(-45deg);
    }

    #nav-cb:checked ~ nav{
        line-height: 1.75;
    }
}



/*---------------------------------- */
/* LOGO----------------------------- */
.logo{
    margin: auto;
}

.logo img{
    padding:0.125rem;
    height: var(--hauteur-header);width: auto;
    transition: height .5s ease-in-out;
}

.nav_accueil .logo img,
#nav-cb:checked ~ .logo img{
    margin-top:5px;
    height: calc(1.5*var(--hauteur-header));
}


/*---------------------------------- */
/* MEDIA---------------------------- */
/*---------------------------------- */
@media  (min-width:1025px){
    .hamburger{
        display: none;
    }
    .nav nav{
        display: flex;
        gap:5vw;
        position: absolute;
        opacity: 1;
        top: 0;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%; height: var(--hauteur-header);
    }

    .nav_accueil .logo img {
        height: calc(2*var(--hauteur-header));
    }
}