/*---------------------------------- */
/* NAVIGATION----------------------- */
header{
    height: var(--hauteur-header);    
    width: 100vw;
    position:fixed;
    display:flex;

    padding: .5em 0;
    background: var(--clr-bleu-xc);

    color:inherit;
    border-bottom: thin var(--clr-bleu-f) solid;

    transition : background-color .5s ease-in-out;
}

.hamburger {
    display: none;
}

header nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav_accueil .logo img {
    height: calc(1.8*var(--hauteur-header));
} 

header .logo img{
    padding:0.125rem;
    height: calc(.9* var(--hauteur-header));
    width: auto;
    transition: height .5s ease-in-out;
}

header nav .filler{
    width: 30vw;
}


header nav ul{
    text-transform: uppercase;
    letter-spacing: .075rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    height: var(--hauteur-header);
}




/* Nav Accueil */
.nav_accueil{
    background: transparent;
    color:var(--clr-bleu-xc);
    border-bottom: none;
}

/*---------------------------------- */
/* Nav Mobile */
#nav-cb{
    display: none;
}

@media (max-width:1024px){
    header {
        z-index: 10;
        height: fit-content;
    }

    header nav {
        display: none;
        position: relative;
        color: var(--clr-bleu-f);
        padding: 1em  0;
    }

    header nav ul{
        flex-direction: column;
        justify-content: unset;
    }

    .hamburger{
        display: block;
        margin: .5em;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after{
        z-index: 11;
        position: absolute;
        left:0;
        content: '';
        width: 2.5rem;
        height: .3em;
        background: var(--clr-bleu-c);
        border-radius: 15px;
        transition: all .5s ease-in-out;
    }

    .hamburger::before{
        transform: translateY(-.8rem);
    }
    .hamburger::after{
        transform: translateY(.8rem);
    }

    header #nav-cb:checked ~  nav{
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    #nav-cb:checked + .hamburger{
        height: 0;
        transition: none;
    }

    #nav-cb:checked + .hamburger::before{
        transform: rotate(45deg);
    }
    #nav-cb:checked + .hamburger::after{
        transform: rotate(-45deg);
    }

}
