/*---------------------------------- */
/* NAVIGATION----------------------- */
header{
    z-index: 10;
    height: var(--hauteur-header);    
    width: 100vw;
    position:fixed;
    display:flex;
    padding: 0;
}

.hamburger {
    display: none;
}

header nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;

    background: var(--clr-bleu-xc);
    color:inherit;
    border-bottom: thin var(--clr-bleu-f) solid;
    transition : background-color .5s ease-in-out;

    text-transform: uppercase;
    letter-spacing: .075rem;
    font-weight: bolder;
}

header .logo {
    margin: 0 auto;
}

header .logo img{
    padding:0.125rem;
    height: calc(.9* var(--hauteur-header));
    width: auto;
    transition: height .5s ease-in-out;
}


header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    height: var(--hauteur-header);
}

header nav.welcome-hero-nav + .logo img {
    height: calc(1.8*var(--hauteur-header));
}   



header nav .filler{
    width: 30vw;
}  


/*---------------------------------- */
/* Nav Mobile */
#nav-cb{
    display: none;
}

@media (min-width:1024px) {
    header nav.welcome-hero-nav{
        background: unset;
        color:var(--clr-bleu-xc);
        border-bottom: none;
        text-shadow: 0 0 5px var(--clr-bleu-f);
    }
}

@media (max-width:1024px){
    header {
        height: fit-content;
    }

    header nav {
        display: none;
        position: relative;
        padding: 1em  0;
    }

    header nav ul{
        flex-direction: column;
        justify-content: unset;
    }

    .hamburger{
        display: block;
        top: 1.5em;
        left:.7em;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after{
        z-index: 11;
        position: absolute;
        content: '';
        width: 2.5rem;
        height: .3em;
        background: var(--clr-bleu-c);
        border-radius: 15px;
        transition: all .5s ease-in-out;
    }

    .hamburger::before{
        transform: translateY(-.8rem);
    }
    .hamburger::after{
        transform: translateY(.8rem);
    }

    header #nav-cb:checked ~ .logo{
        display: none;
    }

    header #nav-cb:checked ~  nav{
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    #nav-cb:checked + .hamburger{
        height: 0;
        transition: none;
    }

    #nav-cb:checked + .hamburger::before{
        transform: rotate(45deg);
    }
    #nav-cb:checked + .hamburger::after{
        transform: rotate(-45deg);
    }

}
