---
import BaseLayout from "../layouts/BaseLayout.astro";
import TariffGrid from "../components/TariffGrid.astro";
---

<BaseLayout
  bodyId="cgu"
  title="Physio Vet'Ostéo du Léman - Conditions générales"
  description="Cabinet vétérinaire consacré à la physiothérapie à Marin, Haute-Savoie. Les soins pratiqués permettront d'assurer la rééducation fonctionnelle, de gérer la douleur ou encore d'accompagner le vieillissement de vos animaux."
  ogTitle="Physio Vet'Ostéo du Léman - Conditions Générales"
  ogDescription="Cabinet vétérinaire consacré à la physiothérapie à Marin, Haute-Savoie. Le bien-être de vos animaux est notre priorité."
  ogUrl="https://physiovetoduleman.com/cgu"
  pageTitle="Conditions générales de fonctionnement"
  includeTariffStyles={true}
>
  <header class="page-hero">
    <h1>Conditions g&eacute;n&eacute;rales de fonctionnement</h1>
  </header>

  <main class="section-legal">
    <section>
      <h2>Généralités</h2>
      <p><b>Physio Vet'Ostéo du Léman</b> est un cabinet vétérinaire pour animaux de compagnie, nouveaux animaux de compagnie et chevaux.</p>
      <p>Ses activités principales sont la physiothérapie et l'ostéopathie.</p>
      <p>Conformément à l'arreté relatif aux établissements de soins vétérinaires, Physio Vet'Ostéo du Léman rentre dans les critères d'un cabinet vétérinaire.</p>

      <h3>Coordonnées</h3>
      <ul class="liste-coordo">
        <li>Physio Vet'Ostéo du Léman</li>
        <li>68 contre allée du Larry, 74200 Marin</li>
        <li>+33 4 50 16 52 51</li>
        <li><a href="mailto:physiovetoduleman@gmail.com">physiovetoduleman@gmail.com</a></li>
        <li><a href="https://www.physiovetoduleman.com" title="Physio Vet'Ostéo du Léman">www.physiovetoduleman.com</a></li>
      </ul>

      <h3>Horaires de fonctionnement</h3>
      <div class="horaires">
        <p>Les horaires habituels d'ouverture sont du <b>lundi au vendredi de 8h30 à 18h</b> ainsi que le <b>samedi de 8h30 à 12H</b></p>
        <p>Uniquement sur rendez-vous, avec un premier contact par mail ou par téléphone.</p>
      </div>

      <h3>Prestations effectuées</h3>
      <p>Le cabinet Vétérinaire Physio Vet'Ostéo du Léman propose principalement des actes de physiothérapie et ostéopathie, au cabinet ainsi qu'au domicile des animaux.</p>
      <p>Tout acte est soumis aux conditions de fonctionnements présentes sur ce document.</p>
      <p>Aucun acte de chirurgie ni aucune hospitalisation de nuit ne sont effectués au sein du cabinet Vétérinaire Physio Vet'Ostéo du Léman.</p>

      <h3>Les espèces traitées</h3>
      <p>Les espèces traitées sont les <b>animaux de compagnie</b> et les <b>NAC</b> dans la limite des compétences du vétérinaire praticien.</p>

      <h3>Continuité des soins et Urgences</h3>
      <p>Le cabinet Physio Vet'Ostéo du Léman est joignable par mail à l'adresse : <a href="mailto:physiovetoduleman@gmail.com">physiovetoduleman@gmail.com</a></p>
      <p><b><u>Pour toute urgence, les informations nécessaires sont fournies en téléphonant au cabinet au <b>+33 4 50 16 52 51</b>.</u></b></p>
      <p>Les <b>urgences</b> pour <u>animaux de compagnie et NAC</u>:</p>

      <ul class="liste-coordo">
        <li>VétoAdom</li>
        <li>Grand Genève</li>
        <li><bdo dir="rtl">00 02 83 82 4 33+</bdo></li>
      </ul>

      <h3>Le personnel affecté aux soins des animaux</h3>
      <h4>Dr Charlotte Coevoet</h4>
      <ul>
        <li>Docteur en médecine vétérinaire, Université de Liège, Belgique</li>
        <li>DE de Cinésiologie, Physiothérapie et Rééducation Fonctionnelle des animaux de compagnie.</li>
      </ul>
    </section>

    <section>
      <h2>Modalités financières</h2>
      <h3>Tarifs</h3>
      <div class="grille-tarifs">
        <TariffGrid />
      </div>
      <h3>Modes de règlement acceptés</h3>
      <p>Le cabinet Physio Véto du Léman accepte les règlements par carte bancaire, chèque et espèces, exceptionnellement par virement</p>
    </section>

    <section>
      <h2>Aspect juridique</h2>
      <h3>Secret professionnel</h3>
      <p>Tout vétérinaire est soumis au secret professionnel. L'intégralité des données recueillies lors de la consultation, ou dans le dossier du client, ne pourra être divulgué, sauf en cas de volonté du propriétaire.</p>
      <h3>En cas de litige</h3>
      <p>Le service compétent est :</p>
      <ul class="liste-coordo">
        <li>L'ordre des vétérinaires d'Auvergne/Rhone-Alpes</li>
        <li>110 Avenue Barthélémy Buyer</li>
        <li>69009, Lyon</li>
        <li><b>+33 4 72 57 16 65</b></li>
        <li><a href="mailto:cro.auro@ordre.veterinaire.fr">cro.auro@ordre.veterinaire.fr</a></li>
      </ul>
      <h3>Responsabilité civile</h3>
      <ul class="liste-coordo">
        <li>AREAS Dommages</li>
        <li>47-49 rue de Miromesnil</li>
        <li>75380, Paris Cedex 08</li>
      </ul>
    </section>
  </main>
</BaseLayout>


