---
import navigation from "../data/navigation.json";

const footerSections = navigation.footer;
---

<footer>
  <ul>
    {footerSections.map((section) => (
      <li>
        <h2>{section.title}</h2>
        <ul>
          {section.links.map((link) => (
            <li>
              <a
                href={link.href}
                title={link.title}
                target={link.external ? "_blank" : undefined}
                rel={link.external ? "noreferrer" : undefined}
              >
                {link.label}
              </a>
            </li>
          ))}
        </ul>
      </li>
    ))}
  </ul>

  <img class="logo shadow-light" src="/images/logo.svg" alt="Physio Vet&apos;Ost&eacute;o du L&eacute;man - Logo" loading="lazy" />
  <p class="rights">Physio Vet&apos;Ost&eacute;o du L&eacute;man - 2025 - Tous droits r&eacute;serv&eacute;s</p>
</footer>
