<footer>
  <ul>
    <li>
      <h2>Notre site</h2>
      <ul>
        <li><a href="/#accueil" title="Accueil">Accueil</a></li>
        <li><a href="/physio" title="Physiothérapie">Physiothérapie</a></li>
        <li><a href="/tarifs" title="Tarifs">Tarifs</a></li>
        <li><a href="/contact" title="Contact">Contact</a></li>
        <li><a href="https://www.planningveto.com/rendez-vous-physio-vet-osteo-du-leman-248567" title="Rendezvous">Rendez-Vous</a></li>
      </ul>
    </li>

    <li>
      <h2>Suivez-nous !</h2>
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/Physio-V%C3%A9to-du-L%C3%A9man-103630238709709/" title="Facebook">Facebook</a></li>
        <li><a target="_blank" href="https://www.instagram.com/physiovetosteoduleman/" title="Instagram">Instagram</a></li>
      </ul>
    </li>

    <li>
      <h2>Informations légales</h2>
      <ul>
        <li><a href="/mentions-legales" title="Mentions légales">Mentions légales</a></li>
        <li><a href="/cgu" title="Conditions générales">Conditions générales</a></li>
      </ul>
    </li>
  </ul>

  <div id="fb-root"></div>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/Physio-V%C3%A9to-du-L%C3%A9man-103630238709709/"
    data-tabs="timeline"
    data-height="300"
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="false"
  >
    <blockquote cite="https://www.facebook.com/Physio-V%C3%A9to-du-L%C3%A9man-103630238709709/" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/Physio-V%C3%A9to-du-L%C3%A9man-103630238709709/">Physio Vet’Ostéo du Léman</a>
    </blockquote>
  </div>

  <img class="logo shadow-light" src="/images/logo.svg" alt="Physio Vet’Ostéo du Léman - Logo" />
  <p class="rights">Physio Vet’Ostéo du Léman - 2025 - Tous droits réservés</p>

  <script is:inline>
    window.fbAsyncInit = function () {
      FB.init({
        appId: "your-app-id",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v13.0",
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0"></script>
</footer>
